body {
  width: 1280px;
  height: 5469px;
  background: #ae1332;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
header {
  background-color: white;
  width: 1280px;
  height: 50px;
}

.hero {
  position: relative;
  padding-top: 56px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 64px;
  }
}
@media screen and (max-width: 767px) {
  .hero-container {
    background-image: url(../img/mobilestrawberries.jpg),
      url(../img/mobilebananas.jpg);
    background-repeat: no-repeat;
    background-position: top 56px right 20px, top 116px left 13px;
  }
}
@media (max-width: 767px) and (min-device-pivel-ratio: 2),
  (max-width: 767px) and (min-resolution: 192dpi),
  (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/mobilestrawberries@2x.jpg),
      url(../img/mobilebananas@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: url(../img/tabletstrawberries.jpg),
      url(../img/tabletbananas.jpg);
    background-repeat: no-repeat;
    background-position: top 55px right 37px, top 169px left 27px;
  }
}
@media (min-width: 768px) and (min-device-pivel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/tabletstrawberries@2x.jpg),
      url(../img/tabletbananas@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    background-image: url(../img/strawberries.jpg), url(../img/bananas.jpg);
    background-repeat: no-repeat;
    background-position: top 39px right 223px, top 191px left 213px;
  }
}
@media (min-width: 1280px) and (min-device-pivel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/strawberries@2x.jpg),
      url(../img/bananas@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header-primary {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 1280px) {
  .hero-strawberries {
    width: 120px;
    height: 120px;
    filter: blur(8px);
  }
}

@media screen and (min-width: 1280px) {
  .hero-bananas {
    width: 183px;
    height: 124px;
    filter: blur(7px);
    transform: rotate(-20deg);
  }
}

@media screen and (min-width: 1280px) {
  .hero-btn {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #ae1332;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
    transform: rotate(14deg);
    border-radius: 100%;
    fill: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .hero-description {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #fff;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 1280px) {
  .watermelon-block {
    border-radius: 500px;
    width: 249px;
    height: 387px;
    background: #a4cb66;
  }
}

@media screen and (min-width: 1280px) {
  .strawberries-block {
    border-radius: 500px;
    width: 249px;
    height: 387px;
    background: #f5ce13;
  }
}

@media screen and (min-width: 1280px) {
  .watermelon-image {
    width: 200px;
    height: 172px;
  }
}

@media screen and (min-width: 1280px) {
  .strawberries-image {
    width: 162px;
    height: 185px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-blocks-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 1280px) {
  .hero-blocks-description {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 1280px) {
  .hero-blocks-ovalshadow {
    fill: #000;
    filter: blur(27.182817459106445px);
  }
}
@media screen and (min-width: 1280px) {
  .hashtag {
    border: 1px solid #fff;
    border-radius: 1000px;
    padding: 12px 32px;
    height: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .hashtag h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 1280px) {
  .hero-focus {
    border-radius: 500px;
    width: 452px;
    height: 702px;
    background: #fff;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image {
    width: 1053px;
    height: 702px;
  }
}
