h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

source {
  display: block;
}
body {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: #ae1332;
}
.container {
  margin: 0px auto;
}

@media screen and (max-width: 374px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.hero {
  position: relative;
}

.container-hero {
  background-image: url(../img/mobilestrawberries.png),
    url(../img/mobilebananas.png);
  background-repeat: no-repeat;
  background-size: 56px 56px, 66px 44px;
  background-position: top 56px right 0px, top 116px left -7px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .container-hero {
    background-image: url(../img/mobilestrawberries@2x.png),
      url(../img/mobilebananas@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .container-hero {
    background-image: url(../img/tabletstrawberries.png),
      url(../img/tabletbananas.png);
    background-size: 108px 108px, 132px 90px;
    background-position: top 54px right -5px, top 169px left -5px;
  }
}

@media only screen and (min-width: 768px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-hero {
      background-image: url(../img/tabletstrawberries@2x.png),
        url(../img/tabletbananas@2x.png);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .container-hero {
    background-image: url(../img/desktopstrawberries.png),
      url(../img/desktopbananas.png);
    background-size: 120px 120px, 183px 125px;
    background-position: top 39px right 191px, top 191px left 181px;
  }
}

@media only screen and (min-width: 1280px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-hero {
      background-image: url(../img/desktopstrawberries@2x.png),
        url(../img/desktopbananas@2x.png);
    }
  }
}
.title-hero {
  padding-top: 56px;
  margin-bottom: 386px;
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
  line-height: 1;
  letter-spacing: -0.04em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .title-hero {
    padding-top: 64px;
    margin-bottom: 513px;
    font-size: 50px;
    line-height: 1.08;
  }
}

@media only screen and (min-width: 1280px) {
  .title-hero {
    margin-bottom: 483px;
    line-height: 1;
    margin-right: auto;
    margin-left: auto;
    max-width: 930px;
    font-size: 64px;
  }
}

.button-shopnow {
  position: relative;
  margin: 0 auto;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 500px;
  color: #ae1332;
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-shopnow {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(-14deg);
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}

.button-shopnow:focus,
.button-shopnow:hover {
  color: #a4cb66;
}

@media only screen and (min-width: 768px) {
  .button-shopnow {
    width: 114px;
    height: 114px;
  }
}
@media only screen and (min-width: 768px) {
  .text-shopnow {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1280px) {
  .button-shopnow {
    margin-bottom: 238px;
  }
}

.button-shopnow::after {
  content: "";
  background-image: url(../img/mobileyoung.png);
  width: 311px;
  height: 484px;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .button-shopnow::after {
    background-image: url(../img/mobileyoung@2x.png);
  }
}

@media only screen and (max-width: 334px) {
  .button-shopnow::after {
    background-image: url(../img/mobileyoung.png);
    width: 100vw;
  }
}

@media only screen and (min-width: 768px) {
  .button-shopnow::after {
    background-image: url(../img/tabletyoung.png);
    width: 452px;
    height: 702px;
    bottom: 32px;
  }
}

@media only screen and (min-width: 768px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .button-shopnow::after {
      background-image: url(../img/tabletyoung@2x.png);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .button-shopnow::after {
    background-image: url(../img/desktopyoung.png);
    width: 452px;
    height: 702px;
    bottom: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .button-shopnow::after {
      background-image: url(../img/desktopyoung@2x.png);
    }
  }
}

.vector {
  width: 335px;
  height: 509px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .vector {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .vector-tablet-mobile {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .vector-tablet-mobile {
    width: 486px;
    height: 742px;
    position: absolute;
    top: 97px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}
@media only screen and (min-width: 1280px) {
  .vector-tablet-mobile {
    top: 100px;
  }
}
.text-hero {
  width: 279px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1280px) {
  .text-hero {
    width: 222px;
  }
}

.hero-wraper-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 44px;
}
@media only screen and (min-width: 768px) {
  .hero-wraper-box {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-wraper-box {
    position: absolute;
    z-index: -1;
    top: 336px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 1156px;
  }
}

.wraper-left-side,
.wraper-right-side {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

@media screen and (min-width: 1280px) {
  .hero-wraper-text-null {
    margin-top: 72px;
  }
}

@media screen and (max-width: 767px) {
  .hero-wraper-first,
  .hero-wraper-second {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .hero-wraper-first {
    display: flex;
    align-self: end;
  }
}

.hero-wraper-second {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .hero-wraper-second {
    order: 0;
    display: flex;
    justify-content: flex-end;
  }
}

.hero-card {
  text-align: center;
}

.hero-card-watermelon {
  width: 249px;
  min-height: 387px;
  background-color: #a4cb66;
  border-radius: 500px;
}

.hero-card-strawberry {
  width: 249px;
  min-height: 387px;
  background-color: #f5ce13;
  border-radius: 500px;
}

.title-card {
  padding-top: 28px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #fff;
}

.title-card-watermelon {
  margin-bottom: 61px;
}

.title-card-strawberry {
  margin-bottom: 19px;
}

/* .hero-card-img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
} */

.text-hero-card {
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #fff;
  text-align: center;
}

.text-card-watermelon {
  max-width: 155px;
}

.text-card-strawberry {
  max-width: 172px;
}

.title-item {
  display: flex;
  flex-wrap: wrap;
}

.hashtags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 8px;
  row-gap: 8px;
}

@media only screen and (min-width: 768px) {
  .hashtags-list {
    width: 278px;
    justify-content: end;
  }
}

.hashtags-list-item {
  width: 100px;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 1000px;
}

@media only screen and (min-width: 768px) {
  .hashtags-list-item {
    width: 100px;
    padding: 12px 32px;
    width: max-content;
  }
}

.hashtag-title {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.17;
  text-align: center;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
