<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <rel
      href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../css/hero.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container container-hero">
        <h1 class="title-hero">
          fresh harvest box <br />
          is your one-stop place for a delicious fruit basket
        </h1>
        <div class="button-shopnow">
          <a class="text-shopnow" href="#Fruits">shop now</a>
          <svg
            class="vector"
            width="486"
            height="742"
            viewBox="0 0 486 742"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask id="path-1-inside-1_5503_35" fill="white">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M485 499V243C485 109.347 376.653 1 243 1C109.347 1 1 109.347 1 243V499C1 632.653 109.347 741 243 741C376.653 741 485 632.653 485 499ZM243 0C108.795 0 0 108.795 0 243V499C0 633.205 108.795 742 243 742C377.205 742 486 633.205 486 499V243C486 108.795 377.205 0 243 0Z"
              />
            </mask>
            <path
              d="M486 499V243H484V499H486ZM486 243C486 108.795 377.205 0 243 0V2C376.101 2 484 109.899 484 243H486ZM243 0C108.795 0 0 108.795 0 243H2C2 109.899 109.899 2 243 2V0ZM0 243V499H2V243H0ZM0 499C0 633.205 108.795 742 243 742V740C109.899 740 2 632.101 2 499H0ZM243 742C377.205 742 486 633.205 486 499H484C484 632.101 376.101 740 243 740V742ZM243 -1C108.243 -1 -1 108.243 -1 243H1C1 109.347 109.347 1 243 1V-1ZM-1 243V499H1V243H-1ZM-1 499C-1 633.757 108.243 743 243 743V741C109.347 741 1 632.653 1 499H-1ZM243 743C377.757 743 487 633.757 487 499H485C485 632.653 376.653 741 243 741V743ZM487 499V243H485V499H487ZM487 243C487 108.243 377.757 -1 243 -1V1C376.653 1 485 109.347 485 243H487Z"
              fill="url(#paint0_linear_5503_35)"
              mask="url(#path-1-inside-1_5503_35)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_5503_35"
                x1="258"
                y1="755"
                x2="257"
                y2="171"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" />
                <stop
                  offset="0.411317"
                  stop-color="white"
                  stop-opacity="0.441769"
                />
                <stop offset="1" stop-color="white" stop-opacity="0" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="hero-wraper-box">
          <div class="wraper-left-side">
            <div class="hero-wraper-text-null">
              <p class="text-hero">
                Our expertly curated fruit baskets are made with the freshest,
                highest quality fruits available. Whether you are looking for a
                healthy snack or a gift for a loved one, Fresh Harvest Box has
                got you covered.
              </p>
            </div>
            <div class="hero-wraper-first">
              <div class="hero-card-watermelon hero-card">
                <h2 class="visual-hidden">hero</h2>
                <h3 class="title-card title-card-watermelon">Fruit</h3>
                <picture class="hero-card-img">
                  <source
                    media="(min-width:1280px)"
                    srcset="
                      ../img/desktopwatermelon.png    1x,
                      ../img/desktopwatermelon@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(min-width:768px)"
                    srcset="
                      ../img/tabletwatermelon.png    1x,
                      ../img/tabletwatermelon@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(min-width:375px)"
                    srcset="
                      ../img/mobilewatermelon.png    1x,
                      ../img/mobilewatermelon@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    src="../img/desktopwatermelon.png"
                    width="200"
                    height="172"
                    loading="lazy"
                    alt="watermelon"
                  />
                </picture>

                <p class="text-hero-card text-card-watermelon">
                  Refreshing and juicy, watermelon is the perfect summer treat
                  and a great source of hydration
                </p>
              </div>
            </div>
          </div>
          <div class="wraper-right-side">
            <div class="hero-wraper-second">
              <div class="hero-card-strawberry hero-card">
                <h3 class="title-card title-card-strawberry">Fruit</h3>
                <picture class="hero-card-img">
                  <source
                    media="(min-width:1280px)"
                    srcset="
                      ../img/desktopstrawberry-basket.png    1x,
                      ../img/desktopstrawberry-basket@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(min-width:768px)"
                    srcset="
                      ../img/tabletstrawberry-basket.png    1x,
                      ../img/tabletstrawberry-basket@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(min-width:375px)"
                    srcset="
                      ../img/mobilestrawberry-basket.png    1x,
                      ../img/mobilestrawberry-basket@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    src="../img/desktopstrawberry-basket.png"
                    width="162"
                    height="185"
                    loading="lazy"
                    alt="strawberry-basket"
                  />
                </picture>
                <p class="text-hero-card text-card-strawberry">
                  Sweet and juicy, strawberries are packed with vitamin C and
                  antioxidants, making them a delicious and healthy snack
                </p>
              </div>
            </div>
            <!-- </ul> -->
            <div>
              <ul class="hashtags-list">
                <li class="hashtags-list-item">
                  <h3 class="hashtag-title">&#35;organic</h3>
                </li>
                <li class="hashtags-list-item">
                  <h3 class="hashtag-title">&#35;products</h3>
                </li>
                <li class="hashtags-list-item">
                  <h3 class="hashtag-title">&#35;basket</h3>
                </li>
                <li class="hashtags-list-item">
                  <h3 class="hashtag-title">&#35;fruits</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
