<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <rel
      href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../css/hero.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container container-hero">
        <h1 class="title-hero">
          fresh harvest box <br />
          is your one-stop place for a delicious fruit basket
        </h1>
        <div class="button-shopnow">
          <a class="text-shopnow" href="#Fruits">shop now</a>
        </div>
        <div class="hero-wraper-box">
          <div class="wraper-left-side">
            <div class="hero-wraper-text-null">
              <p class="text-hero">
                Our expertly curated fruit baskets are made with the freshest,
                highest quality fruits available. Whether you are looking for a
                healthy snack or a gift for a loved one, Fresh Harvest Box has
                got you covered.
              </p>
            </div>
            <div class="hero-wraper-first">
              <div class="hero-card-watermeloun hero-card">
                <h2 class="visual-hidden">hero</h2>
                <h3 class="title-card title-card-watermelon">Fruit</h3>
                <picture class="hero-card-img">
                  <source
                    media="(min-width:1280px)"
                    srcset="
                      ../img/desktopwatermelon.png    1x,
                      ../img/desktopwatermelon@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(min-width:768px)"
                    srcset="
                      ../img/tabletwatermelon.png    1x,
                      ../img/tabletwatermelon@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(min-width:375px)"
                    srcset="
                      ../img/mobilewatermelon.png    1x,
                      ../img/mobilewatermelon@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    src="../img/desktopwatermelon.png"
                    width="200"
                    height="172"
                    loading="lazy"
                    alt="watermelon"
                  />
                </picture>

                <p class="text-hero-card text-card-watermelon">
                  Refreshing and juicy, watermelon is the perfect summer treat
                  and a great source of hydration
                </p>
              </div>
            </div>
          </div>
          <div class="wraper-right-side">
            <div class="hero-wraper-second">
              <div class="hero-card-strawberry hero-card">
                <h3 class="title-card title-card-strawberry">Fruit</h3>
                <picture class="hero-card-img">
                  <source
                    media="(min-width:1280px)"
                    srcset="
                      ../img/desktopstrawberry-basket.png    1x,
                      ../img/desktopstrawberry-basket@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(min-width:768px)"
                    srcset="
                      ../img/tabletstrawberry-basket.png    1x,
                      ../img/tabletstrawberry-basket@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(min-width:375px)"
                    srcset="
                      ../img/mobilestrawberry-basket.png    1x,
                      ../img/mobilestrawberry-basket@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    src="../img/desktopstrawberry-basket.png"
                    width="162"
                    height="185"
                    loading="lazy"
                    alt="strawberry-basket"
                  />
                </picture>
                <p class="text-hero-card text-card-strawberry">
                  Sweet and juicy, strawberries are packed with vitamin C and
                  antioxidants, making them a delicious and healthy snack
                </p>
              </div>
            </div>
            <!-- </ul> -->
            <div class="hashtags-box hero-wraper-third">
              <ul class="hashtags-list">
                <li class="hashtags-list-item">
                  <h3 class="hashtag-title">&#35;organic</h3>
                </li>
                <li class="hashtags-list-item">
                  <h3 class="hashtag-title">&#35;products</h3>
                </li>
                <li class="hashtags-list-item">
                  <h3 class="hashtag-title">&#35;basket</h3>
                </li>
                <li class="hashtags-list-item">
                  <h3 class="hashtag-title">&#35;fruits</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
